@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
background-image:url('fundoo.jpg');
    margin: 91px 5px;
     background-size: cover; /* Faz a imagem cobrir todo o fundo */
            background-repeat: no-repeat; /* Evita que a imagem se repita */
            background-position: center; /* Centraliza a imagem */
}
main{
    margin-left: auto;
    margin-right: auto;
    box-shadow: #a5a9aacc 2px 4px 16px 3px;
    border-radius: 10px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    width: min-content;
    text-align: center;
    color: hsl(0, 0%, 100%);
    background-color:  rgb(252
147
70);
    padding: 20px 10px;
}

p{
    text-align: center;
}

a{
    display: flex;
    width: 247px;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 11px;
    color: hsl(0, 0%, 100%);
    background-color:  rgb(0
138
244);
    border-radius: 3px;
    text-decoration: none;
}
a:hover {
    color:hsl(0, 0%, 8%) ;
    background-color: rgb(66
218
46)
}
#p{
    color: rgb(241, 241, 241);
}
footer {
    margin: 2%;
    display: flex
;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}
img{
    width: 100px;
        /* margin-right: 2%; */
        margin: 0 2% 0 1%
}

